.navBarContainer {
  @apply bg-primary mx-auto px-2 rounded-b-[30px] shadow-lg;
}

.navBarContent {
  @apply flex  justify-between;
}

.logoContainer {
  @apply flex flex-1 sm:justify-start items-center;
}

.logoImage {
  @apply h-24 p-1 pl-0 w-auto;
}

.userProfileContainer {
  @apply flex justify-between items-center gap-3  pr-3;
}

.userProfileImage {
  @apply h-12 w-12 max-430:h-10 max-430:w-10 rounded-full;
}

.logoutImage {
    cursor: pointer;
  @apply h-7 max-430:h-6 max-430:w-6;
}
.nameText {
  letter-spacing: 0.38px;
  @apply
  text-[15px]
  max-430:text-[12px]
  font-primary
  font-bold
  text-black
  leading-[18px];
}

.locationText {
  letter-spacing: 0.38px;
  @apply flex
    gap-1
    text-[15px]
    max-430:text-[12px]
    font-bold
    font-primary
    text-black
    leading-[18px];
}
.locationIcon {
  @apply h-4;
}
