.section {
  background-image: url("/public/images/backgroundimage.png");
  @apply bg-cover bg-center h-full;
  /* background-image: url('/images/bg.png');  */
}

.container {
  @apply flex flex-col items-center sm:justify-center px-6 py-8 mx-auto md:h-screen lg:py-0;
}

.logo {
  @apply flex items-center  text-2xl font-semibold text-gray-900;
}

.logo img {
  @apply lg:w-[150px] lg:h-[100px] mr-2;
}

.card {
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
  @apply bg-white rounded-3xl w-full lg:w-[40%]   mt-0 md:mt-10 sm:max-w-md xl:p-0 border-[2px] border-gray-500 border-opacity-65;
}

.card_header {
  @apply p-6 space-y-2 md:space-y-2  sm:p-8;
}

.card_title {
  @apply text-xl  leading-tight tracking-tight text-gray-900 md:text-[36px] font-semibold;
}

.form {
  @apply space-y-4 md:space-y-6;
}

.input {
  @apply w-full bg-white border border-black placeholder:text-black rounded-lg p-2 focus:outline-none focus:ring-1 focus:ring-black text-black;
}

.arabic_text {
  @apply text-secondary lg:text-[24px] font-normal;
}
.award_text {
  @apply text-secondary lg:text-[18px] font-mono my-3;
}

.line {
  @apply w-[35%];
}

.card_welcome_title {
 @apply text-center bg-gradient-to-l from-gray-950  to-[#C09B5C]  inline-block text-transparent bg-clip-text text-[28px] md:text-[36px];
}

.checkbox {
  @apply flex gap-2;
}


.checkbox_input {
  -webkit-appearance: none;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background: #f8f7f7;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.checkbox_label{
  @apply font-bold -mt-1
}

.checkbox_input:checked {
  background: linear-gradient(140deg, #c09b5c 0%, #c09b5c 40%, #000 98%);
}

.checkbox_input::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url('/public/images/basic-tick.png');
  pointer-events: none;
  background-size:10px;
  background-repeat: no-repeat;
}

.card_descrption {
  @apply text-sm  leading-tight tracking-tight text-gray-900 md:text-[16px] font-medium;
}

.submit_button {
  width: 90%;
  background-image: linear-gradient(
    to right,
    #c09b5c 0%,
    #000000 51%,
    #c09b5c 100%
  );
  margin: 10px;
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.submit_button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.submit_button_div {
  @apply flex justify-center;
}


.card_welcome_title_div{
  @apply flex justify-center
}